<html>
  <body>
    <p>
      Hi there! You have visited this place <%= @visits %> times.
    </p>

    <p>
      What songs would you like to post today?
    </p>

    <form action="/save_song" method="post">
      <input name="name" />
      <input type="submit" />
    </form>

    <% if @songs.any? %>
      <ol>
        <% @songs.each do |errand| %>
          <li><%= song %></li>
        <% end %>
      </ol>
    <% end %>
  </body>
</html>
